/* ==========================================================================
	 Base Styles
	 ========================================================================== */ 
   :root {
    --white: #fff;
    --light-grey: #eee;
    --grey: #ccc;
    --dark-grey: #848484;
    --black: #4d4d4d;
  } 
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  img {
    display: block;
    max-width: 100%;
  }
  .color-white {
    color: var(--white);
  }
  .color-white:hover {
    color: var(--white);
  }
  .border-white {
    border-color: var(--white);
  }
  .border-clear {
    border-color: transparent;
  }
  
  button {
    background-color: var(--white);
    outline: 0;
    padding: 10px 20px 13px;
    border: solid 1px var(--black);
    font-family: 'Lato', sans-serif;
    font-size: 0.875rem; /* 14px */
    font-weight: 400; /* regular */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 140px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, opacity 0.4s;
  }

  button:hover {
    background-color: var(--black);
    color: var(--white)
  }

  /* ==========================================================================
	 Layout
	 ========================================================================== */

   .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
  .display-flex {
    display: flex;
  }
  .col-full-bleed {
    position: relative;
    padding-bottom: 110%;
    overflow: hidden;
  }
  .col-full-bleed img {
    position: absolute;
    width: 100%;
  }
  @media (min-width: 768px) {
    .col-full-bleed {
      margin-left: -15px;
      margin-right: -15px;
      padding-right: 0;
    }
  }
  .col-constrain {
    position: relative;
    top: 32px;
  }
  @media (min-width: 768px) {
    .col-constrain {
      width: 330px;
    }
  }
  @media (min-width: 992px) {
    .col-constrain {
      width: 450px;
    }
  }
  @media (min-width: 1200px) {
    .col-constrain {
      width: 540px;
    }
  }

  .col-vertical-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .col-flex-end {
    align-items: flex-end;
  }


  /* ==========================================================================
	 Typography
	 ========================================================================== */  
  
   body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: var(--black);
    background-color: var(--white);
    font-size: 1em; /* 16px */
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.4;
  }
  h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 4.5rem; /* 72px */
    line-height: 1;
    border-bottom: solid 2px var(--black);
    padding-bottom: 0.2em;
  }
  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 2.25rem; /* 36px */
    line-height: 1;
    border-bottom: solid 2px var(--black);
    padding-bottom: 0.2em;
  }
  @media (min-width: 768px) {
    h2 {
      font-size: 2.25rem; /* 36px */
    }
  }
  h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 1.3125rem; /* 21px */
    margin-top: 2em;
    margin-bottom: 1em;
  }
  h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 1rem; /* 16px */
    margin-top: 2em;
    margin-bottom: 1em;
  }
  @media (min-width: 576px) {
    h4 {
      font-size: 1rem; /* 16px */
    }
  }
  @media (min-width: 992px) {
    h4 {
      font-size: 1.125rem; /* 18px */
    }
  }
  h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 500; /* Medium */
    font-size: 1.5rem; /* 24px */
  }
  h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 1rem; /* 16px */
  }
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300; /* light */
    font-size: 0.875rem; /* 14px */
    margin: 1em auto 1em;
    color: var(--black)
  }
  @media (min-width: 576px) {
    p {
      font-size: 1rem; /* 16px */
    }
  }
  p strong {
    font-family: 'Playfair Display', serif;
    font-weight: 500; /* Medium */
    font-size: 1rem; /* 16px */
    margin: 1em auto 1em;
    color: var(--black)z
  }
  p.subtitle {
    font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 1.125rem; /* 18px */
  }
  ul {
    padding: 0 2em;
    margin: 1em auto;
  }
  li {
    font-family: 'Lato', sans-serif;
    font-weight: 300; /* light */
    font-size: 0.875rem; /* 14px */
    color: var(--black);
  }
  @media (min-width: 576px) {
    li {
      font-size: 1rem; /* 16px */
    }
  }
  @media (min-width: 992px) {
    li {
      font-size: 1.125rem; /* 18px */
    }
  }
  a {
    font-family: 'Lato', sans-serif;
    font-weight: 400; /* regular */
    color: var(--black);
    text-decoration: none;
    transition: color 0.2s;
  }
  a:hover {
    color: var(--black);
  }
  strong {
    font-weight: 700;
    color: var(--white);
  }
  hr {
    border: solid 1px var(--black);
    margin: 1.5em 0 1.5em;
  }
  @media (min-width: 768px) {
    hr {
      margin: 1.5em 0 3em;
    }
  }

/* ==========================================================================
	 Header
	 ========================================================================== */  

  .header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 40px;
    padding: 0 1.5rem;
    margin-top: 24px;
    transition: all 0.3s;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
  }
  .header__nav-list {
    display: flex;
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    list-style-type: none;
    margin: 0;
  }
  .header__nav-list li {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    width: 110px;
    height: 100%;
    border-right-width: 1px;
    border-right-style: solid;
  }
  .header__nav-list li:last-child {
    border-right: 0;
  }
  .header__user-login-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .header__user-login-list li {
    display: flex;
    padding-left: 1rem;
    height: 100%;
  }
  .header__user-login-list button {
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem; /* 18px */
    font-weight: 400; /* regular */
    background-color: transparent;
    height: auto;
    width: auto;
    min-width: auto;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
  }
  .header__user-login-list button:hover {
    color: var(--black);
  }
  .header__user-description-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .header__user-description-list li {
    display: flex;
  }
  .header__user-description-list p {
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--black)
  }
  .header__user-descrition-icon {
    top: 0.1rem;
    position: relative;
    width: 22px;
    margin-right: 0.6rem;
  }
  .header__nav-list a {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem; /* 18px */
    font-weight: 400; /* regular */
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    height: auto;
    width: auto;
    min-width: auto;
    transition-property: none;
  }
  .header__nav-list button:hover {
    color: var(--black);
  }
  .header__cart-icon {
    width: 18px;
    top: 2px;
    position: relative;
  }

  .header__nav.hidden {
    transform: translateX(-100%);
  }

  .header__menu-toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .mobile__nav-menu {
    position: absolute;
    z-index: 1;
  }
  .mobile__nav-list {
    background-color: rgba(255, 255, 255, 0.701);
    color: black;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mobile__nav-list li {
    border: none;
    padding: 1rem 0;
  }

  .mobile__nav-list--mobile {
    transform: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mobile__icon {
  }
  

/* ==========================================================================
	 Footer
	 ========================================================================== */
  
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  margin-top: auto;
  border-top: solid 1px var(--grey)
}
.footer__copyright {
  font-family: 'Lato', sans-serif;
    font-size: 0.875rem; /* 14px */
    font-weight: 400; /* regular */
  color: var(--black);
  margin: 0;
}
.footer__list {
  display: flex;
  padding: 0;
margin: 0;
  list-style-type: none;
}
.footer__list li {
  display: flex;
  align-items: center;
  padding: 0 0 0 2rem;
  height: 100%;
}
.footer__list a {
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem; /* 14px */
    font-weight: 400; /* regular */
  color: var(--black);
}
.footer__list button {
  font-family: 'Lato', sans-serif;
  display: block;
  font-size: 0.875rem; /* 14px */
  font-weight: 400; /* regular */
  color: var(--black);
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  width: auto;
  height: auto;
  min-width: auto;
}

/* ==========================================================================
	 Home page
	 ========================================================================== */

   .home-banner {
    margin-top: -64px;
  }
  .home-banner h1 {
    display: inline-block;
    padding-bottom: 0.1em;
  }
  .home-banner__img {
    transform: translateY(-26%);
  }
  .home-banner__subtitle {
    margin-bottom: 2rem;
  }


  .home-benefits {
    background-color: var(--light-grey);
  }
  .home-benefits h2 {
    display: inline-block;
    margin-bottom: 0.5em;
  }
  .home-benefits__img {
    transform: translateY(-20%);
  }

  .home-featured {
    margin: 4rem 0;
  }
  .home-featured h2 {
    display: inline-block;
    margin-bottom: 4rem;
  }



/* ==========================================================================
	 About page
	 ========================================================================== */

.about-banner {
  margin-top: -64px;
}
.about-banner h1 {
 display: inline-block;
}
.about-banner__subtitle {
  margin-bottom: 2rem;
}
.about-banner__img {
  transform: translateY(-12%);
}

.about-stories {
  margin: 4rem 0;
}
.about-stories__container {
  margin-top: 4rem;
}
.about-stories h2 {
  display: inline-block;
}
.about-stories__img {
  margin-bottom: 1rem;
}
.about-stories h5 {
  margin-bottom: 0.3em;
}

.about-origin {
  background-color: var(--light-grey);
}
.about-origin h2 {
  display: inline-block;
}

/* ==========================================================================
	 Shop list page
	 ========================================================================== */

.shop {
  margin: 4rem 0;
}
.shop__h1-container {
  text-align: center;
}
.shop h1 {
  display: inline-block;
  margin: 0 auto 4rem;
  margin-bottom: 4rem;
}


 /* ==========================================================================
	 Shop single page
	 ========================================================================== */  

   .shop-single {
    margin: 4rem 0;
  }
  
  .shop-single-product h1 {
    display: inline-block;
  }
  .shop-single-product__weight {
    font-size: 1.3125rem; /* 21px */
    margin: 1rem 0 0;
  }
  
  .shop-single-product__price {
    font-family: 'Lato', sans-serif;
      font-weight: 300; /* light */
      font-size: 2.25rem; /* 36px */
      margin: 0 0 1rem;
  }
  .shop-single-product__select {
    font-family: 'Lato', sans-serif;
      font-weight: 300; /* light */
      font-size: 1.3125rem; /* 21px */
    min-width: 140px;
    height: 40px;
    background-color: white;
    border: solid 1px var(--black);
    border-radius: 6px;
    padding: 0px 0.75rem;
  }
  .shop-single-product__select option {
    font-family: 'Lato', sans-serif;
      font-weight: 300; /* light */
      font-size: 1.3125rem; /* 21px */
  }
  .shop-single-product__description {
    margin: 1.5em auto 1.5em;
  }
  
  .shop-faq {
    margin: 4rem 0;
  }
  .shop-faq__container {
    padding: 3rem;
    border-top: solid 1px var(--black);
    border-bottom: solid 1px var(--black);
  }
  .shop-faq h2 {
    display: inline-block;
    margin-bottom: 1em;
  }
  .shop-faq p {
    margin-top: 0;
    margin-bottom: 1.5em;
  }   

 /* ==========================================================================
	 Products module
	 ========================================================================== */  

.products__product {
  margin-bottom: 3rem;
}
.products__product-img {
  position: relative;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}
.products__product-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: filter 0.4s;
  filter: grayscale(0);
}
.products__product-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.products__product-overlay:hover img {
  filter: grayscale(1);
}
.products__product-btn {
  opacity: 0;
  z-index: 1;
}
.products__product-overlay:hover .products__product-btn {
  opacity: 1;
}
.products__product-name a {
  font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 1.125rem; /* 18px */
}
.products__product-name {
  margin: 1em auto 0em;
}
.products__product-price {
  margin: 0.1em auto 0;
}

 /* ==========================================================================
	 Cart page
	 ========================================================================== */  

  .cart {
    margin: 4rem 0;
  }
  .cart__continue-btn {
    width: auto;
    margin: 0 auto 3rem;
  }
  .cart__items {
    margin-bottom: 2rem;
  }
  .cart__item {
    border-top: solid 1px var(--grey);
    display: flex;
  }
  .cart__item:last-child {
    border-bottom: solid 1px var(--grey);
  }
  .cart__item h2 {
    border-bottom: 0;
  }
  .cart__img-container {
    width: 20%;
    padding: 1rem 1rem 1rem 0;
  }
  .cart__item-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }
  .cart__item-name p {
    font-size: 1.125rem; /* 18px */
    margin: 0;
  }
  .cart__item-price {
    display: flex;
    align-items: center;
    width: 20%;
  }
  .cart__item-price p {
    font-size: 1.3125rem; /* 21px */
  }
  .cart__item-qty {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: center;
  }
  .cart__item-qty-selector {
    display: flex;
    border: solid 1px var(--black);
    border-radius: 6px;
    width: 90px;
    padding: 0.25rem;
    align-items: center;
    height: 30px;
    justify-content: space-between;
  }
  .cart__item-qty-selector p {
    font-size: 1.3125rem; /* 21px */
  }
  .cart__item-qty-btn {
    display: flex;
    border: 0;
    min-width:auto;
    width: 20px;
    height: auto;
    padding: 0;
  }
  .cart__item-trash {
    position: absolute;
    bottom: 1rem;
  }
  .cart__clear-btn {
    float: right;
  }
  .cart__sidebar {
    background-color: var(--light-grey);
    padding: 1rem;
  }
  .cart__sidebar-total-container {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px var(--grey);
    padding: 0 0.5rem 1rem;
    margin-bottom: 1rem;
  }
  .cart__sidebar-total {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.5rem; /* 24px */
    line-height: 1;
  }
  .cart__sidebar-cost {
    font-family: 'Lato', sans-serif;
    font-weight: 400; /* regular */
    font-size: 1.5rem; /* 24px */
    line-height: 1;
  }
  .cart__sidebar-btn {
    font-family: 'Lato', sans-serif;
    font-weight: 300; /* light */
    font-size: 1.125rem; /* 18px */
    display: flex;
    justify-content: flex-start;
    padding: 0 0.5rem;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px var(--grey);
  }
  .cart__sidebar-btn:hover {
    color: var(--black);
    background-color: var(--light-grey);
  }
  .cart__sidebar-order-input {
    margin: 1rem 0.5rem;
    display: inline-block;
    height: 40px;
    padding: 0 0.75rem;
  }
  .cart__checkout-btn {
    margin: 1.5rem auto 0.75rem;
  }
  .cart__shipping-list {
    list-style-type: none;
    padding: 0;
  }
  .cart__shipping-title {
    font-family: 'Lato', sans-serif;
    font-weight: 300; /* light */
    font-size: 1.125rem; /* 18px */
    color: var(--black);
  }
  .cart__shipping-list li {
    display: flex;
    margin-bottom: 0.25rem;
  }
  .cart__shipping-list input {
    margin: 0 0.5rem 0 0;
  }
  .cart__shipping-details {
    padding: 0 0.5rem;
  }

/* ==========================================================================
	 Contact Page
	 ========================================================================== */
   
   .contactHeader {
    background-image: url('/images/ContactBnana.png');
    background-size: cover; 
    background-position: center; 
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin-top: 1.5rem;
}
  
  .form-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .form-control {
    width: 100%;
    height: 40px;
    padding: .75rem;
  }
  
  .submit-button {
    cursor: pointer;
    margin: 0 auto;
  }
  
  @media (min-width: 500px) {
    .form-label, .submit-button {
      max-width: 100%;
    }
  }

  .contactH2 {
    border: 0;
  }

  .form-text-area {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 0.875rem; /* 14px */
    font-weight: 400; /* regular */ 
    padding: .75rem;
  }
  
  .formRow {
width: 100%;
  }

  .contactFormContainer {
    margin: 4rem 0;
  }

  /* ==========================================================================
	 Thank you page
	 ========================================================================== */

   .thankYou-Header {
    background-image: url('/images/Thankyou-Bananas.png');
    background-size: cover; 
    background-position: center; 
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin-top: 1.5rem;
   }

   .thankYou-Header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;  /* Adjust as necessary */
  }

  .thanks-para {
    padding: 20px;
  }
   