/* ==========================================================================
	 Base Styles
	 ========================================================================== */ 
   :root {
    --white: #fff;
    --light-grey: #eee;
    --grey: #ccc;
    --dark-grey: #848484;
    --black: #4d4d4d;
  } 
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  img {
    display: block;
    max-width: 100%;
  }
  .color-white {
    color: var(--white);
  }
  .border-white {
    border-color: var(--white);
  }
  
  button {
    background-color: var(--white);
    outline: 0;
    padding: 10px 20px 13px;
    border: solid 1px var(--black);
    font-family: 'Lato', sans-serif;
    font-size: 0.875rem; /* 14px */
    font-weight: 400; /* regular */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 140px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, opacity 0.4s;
  }

  button:hover {
    background-color: var(--black);
    color: var(--white)
  }

  /* ==========================================================================
	 Layout
	 ========================================================================== */

  .display-flex {
    display: flex;
  }
  .col-full-bleed img {
    width: 100%;
  }
  @media (min-width: 768px) {
    .col-full-bleed {
      margin-left: -15px;
      margin-right: -15px;
      padding-right: 0;
    }
  }
  @media (min-width: 768px) {
    .col-constrain {
      width: 330px;
    }
  }
  @media (min-width: 992px) {
    .col-constrain {
      width: 450px;
    }
  }
  @media (min-width: 1200px) {
    .col-constrain {
      width: 540px;
    }
  }

  .col-vertical-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .col-flex-end {
    align-items: flex-end;
  }


  /* ==========================================================================
	 Typography
	 ========================================================================== */  
  
   body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: var(--black);
    background-color: var(--white);
    font-size: 1em; /* 16px */
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.4;
  }
  h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 4.5rem; /* 72px */
    line-height: 1;
    border-bottom: solid 2px var(--black);
    padding-bottom: 0.2em;
  }
  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 2.25rem; /* 36px */
    line-height: 1;
    border-bottom: solid 2px var(--black);
    padding-bottom: 0.2em;
  }
  @media (min-width: 768px) {
    h2 {
      font-size: 2.25rem; /* 36px */
    }
  }
  h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 1.3125rem; /* 21px */
    margin-top: 2em;
    margin-bottom: 1em;
  }
  h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 1rem; /* 16px */
    margin-top: 2em;
    margin-bottom: 1em;
  }
  @media (min-width: 576px) {
    h4 {
      font-size: 1rem; /* 16px */
    }
  }
  @media (min-width: 992px) {
    h4 {
      font-size: 1.125rem; /* 18px */
    }
  }
  h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 500; /* Medium */
    font-size: 1.5rem; /* 24px */
  }
  h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 1rem; /* 16px */
  }
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300; /* light */
    font-size: 0.875rem; /* 14px */
    margin: 1em auto 1em;
    color: var(--black)
  }
  @media (min-width: 576px) {
    p {
      font-size: 1rem; /* 16px */
    }
  }
  p strong {
    font-family: 'Playfair Display', serif;
    font-weight: 500; /* Medium */
    font-size: 1rem; /* 16px */
    margin: 1em auto 1em;
    color: var(--black)z
  }
  p.subtitle {
    font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 1.125rem; /* 18px */
  }
  ul {
    padding: 0 2em;
    margin: 1em auto;
  }
  li {
    font-family: 'Lato', sans-serif;
    font-weight: 300; /* light */
    font-size: 0.875rem; /* 14px */
    color: var(--black);
  }
  @media (min-width: 576px) {
    li {
      font-size: 1rem; /* 16px */
    }
  }
  @media (min-width: 992px) {
    li {
      font-size: 1.125rem; /* 18px */
    }
  }
  a {
    font-family: 'Lato', sans-serif;
    font-weight: 400; /* regular */
    color: var(--black);
    text-decoration: none;
    transition: color 0.2s;
  }
  a:hover {
    color: var(--black);
  }
  strong {
    font-weight: 700;
    color: var(--white);
  }
  hr {
    border: solid 1px var(--black);
    margin: 1.5em 0 1.5em;
  }
  @media (min-width: 768px) {
    hr {
      margin: 1.5em 0 3em;
    }
  }

/* ==========================================================================
	 Header
	 ========================================================================== */  

  .header {
    position: relative;
    z-index: 1;
    height: 40px;
    padding: 0 1.5rem;
    margin-top: 1.5rem;
  }
  .header__nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 100%;
  }
  .header__nav-list {
    display: flex;
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    list-style-type: none;
    margin: 0;
  }
  .header__nav-list li {
    display: flex;
    padding: 0 2rem;
    height: 100%;
  }
  .header__nav-list li.header__border-right {
    border-right-width: 1px;
    border-right-style: solid;
  }
  .header__user-login-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .header__user-login-list li {
    display: flex;
    padding-left: 1rem;
    height: 100%;
  }
  .header__user-login-list button {
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem; /* 18px */
    font-weight: 400; /* regular */
    background-color: transparent;
    height: auto;
    width: auto;
    min-width: auto;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
  }
  .header__user-login-list button:hover {
    color: var(--black);
  }
  .header__nav-list button {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem; /* 18px */
    font-weight: 400; /* regular */
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    height: auto;
    min-width: auto;
  }
  .header__nav-list button:hover {
    color: var(--black);
  }
  .header__cart-icon {
    width: 18px;
    top: 2px;
position: relative;
  }

/* ==========================================================================
	 Footer
	 ========================================================================== */
  
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: solid 1px var(--light-grey)
}
.footer__copyright {
  font-family: 'Lato', sans-serif;
    font-size: 0.875rem; /* 14px */
    font-weight: 400; /* regular */
  color: var(--black);
  margin: 0;
}
.footer__list {
  display: flex;
  padding: 0;
margin: 0;
  list-style-type: none;
}
.footer__list li {
  display: flex;
  align-items: center;
  padding: 0 0 0 2rem;
  height: 100%;
}
.footer__list a {
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem; /* 14px */
    font-weight: 400; /* regular */
  color: var(--black);
}
.footer__list button {
  font-family: 'Lato', sans-serif;
  display: block;
  font-size: 0.875rem; /* 14px */
  font-weight: 400; /* regular */
  color: var(--black);
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  width: auto;
  height: auto;
  min-width: auto;
}

/* ==========================================================================
	 Home page
	 ========================================================================== */

   .home-banner {
    margin-top: -64px;
  }
  .home-banner h1 {
    display: inline-block;
    padding-bottom: 0.1em;
  }


  .home-benefits {
    background-color: var(--light-grey);
  }
  .home-benefits h2 {
    display: inline-block;
    margin-bottom: 0.5em;
  }

  .home-featured {
    margin: 4rem 0;
  }
  .home-featured h2 {
    display: inline-block;
    margin-bottom: 4rem;
  }



/* ==========================================================================
	 About page
	 ========================================================================== */

.about-banner {
  margin-top: -64px;
}
.about-banner__subtitle {
  margin-bottom: 7rem;
}

.about-stories {
  margin: 4rem 0;
}
.about-stories__container {
  margin-top: 4rem;
}
.about-stories h2 {
  display: inline-block;
}
.about-stories__img {
  margin-bottom: 1rem;
}
.about-stories h5 {
  margin-bottom: 0.3em;
}

.about-origin {
  background-color: var(--light-grey);
}
.about-origin h2 {
  display: inline-block;
}

/* ==========================================================================
	 Shop list page
	 ========================================================================== */

.shop {
  margin: 4rem 0;
}
.shop__h1-container {
  text-align: center;
}
.shop h1 {
  display: inline-block;
  margin: 0 auto 4rem;
  margin-bottom: 4rem;
}

.shop-single-product__weight {
  font-size: 1.3125rem; /* 21px */
  margin: 1rem 0 0;
}

.shop-single-product__price {
  font-family: 'Lato', sans-serif;
    font-weight: 300; /* light */
    font-size: 2.25rem; /* 36px */
    margin: 0 0 1rem;
}
.shop-single-product__select {
  font-family: 'Lato', sans-serif;
    font-weight: 300; /* light */
    font-size: 1.3125rem; /* 21px */
  min-width: 140px;
  height: 40px;
  background-color: white;
  border: solid 1px var(--black);
  border-radius: 6px;
  padding: 0px 0.75rem;
}
.shop-single-product__select option {
  font-family: 'Lato', sans-serif;
    font-weight: 300; /* light */
    font-size: 1.3125rem; /* 21px */
}
.shop-single-product__description {
  margin: 1.5em auto 1.5em;
}

.shop-faq {
  margin: 4rem 0;
}
.shop-faq__container {
  padding: 3rem;
  border-top: solid 1px var(--black);
  border-bottom: solid 1px var(--black);
}
.shop-faq h2 {
  display: inline-block;
  margin-bottom: 1em;
}
.shop-faq p {
  margin-top: 0;
  margin-bottom: 1.5em;
}
/* ==========================================================================
	 Shop single page
	 ========================================================================== */

.shop-single {
  margin: 4rem 0;
}

.shop-single-product h1 {
  display: inline-block;
}

 /* ==========================================================================
	 Products module
	 ========================================================================== */  

.products__product {
  margin-bottom: 3rem;
}
.products__product-img {
  position: relative;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}
.products__product-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: filter 0.4s;
  filter: grayscale(0);
}
.products__product-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.products__product-overlay:hover img {
  filter: grayscale(1);
}
.products__product-btn {
  opacity: 0;
  z-index: 1;
}
.products__product-overlay:hover .products__product-btn {
  opacity: 1;
}
.products__product-name a {
  font-family: 'Playfair Display', serif;
    font-weight: 400; /* Regular */
    font-size: 1.125rem; /* 18px */
}
.products__product-name {
  margin: 1em auto 0em;
}
.products__product-price {
  margin: 0.1em auto 0;
}
